# Projeto
*markers.json
node_modules/
.tmp/*
uploads/
wp-content/gallery-bank/
wp-content/languages/
wp-content/themes/divi3*
.sass-cache/
themes/its-rio/assets/css/its.css
themes/its-rio/assets/css/its.css.map
themes/its-rio/assets/css/wp-map.css
themes/its-rio/assets/css/wp-map.css.map
themes/its-rio/package-lock.json

# Wordpress
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-content/index.php
wp-content/plugins/akismet/
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/index.php
wp-content/themes/twentyfifteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentysixteen/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content
compose/local/mariadb/data
mariadb_data/
compose/local/mariadb/data/*
~
