.highlights{
	overflow: hidden;
	position: relative;
	margin: 25px 0px;
	transition: box-shadow .3s;
	height: 400px;

	.info{
		background: rgba(255,255,255,0.7);
		bottom: 0;
		left: 0;
		right: 0;
		max-height: 265px;
		overflow: hidden;
		padding: 40px 20px 20px 40px;
		position: absolute;

		& > a {
			display: flex;
			align-items: flex-end;
		}

		.excerpt {
			margin: 10px 0 0;
		}

		.box {
			border-color: #000;
			color: #000;
		}
	}

	a, h2, ul li a, .categories { 
		color: #000 !important;
	}
	h2 {
		line-height: 1.5;
		.line { 
			background: #000 !important;
			margin: 5px 0 10px;
		}
	}
	&:hover{
		box-shadow: 0 0 15px #8a8a8a;
	}

	.categories{
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
	}

	.horario {
		font-size: 12px;
		font-weight: bold;
		margin: 0 0 15px 15px;
		p {
			font-size: 14px;
			font-weight: bold;
			line-height: 1;
			margin-bottom: 5px;
		}
		span {
			margin: 0 0 5px 0;
			white-space: nowrap;
		}
	}
}

// ajustes nas intermediárias
.archive {
	.highlights {
		.info {
			background: #f8f8f8;
			padding-top: 30px;
		}
		.categories {
			margin-top: 8px;
			ul {
				margin-left: 8px;
			}
		}
	}
}

.info_border{
	border-bottom: 5px solid black;
}

.older-posts{
	margin-bottom: 50px;
	clear: both;
}

.post-type-archive{
	.list-title {
		margin-top: 30px !important;
	}
}

// .submenu{
// 	display: flex;
// 	align-items: center;
// 	padding: 30px;
// 	height: 100px;
// 	width: 100%;
// 	position: relative;


// 	& > div{
// 		border-right: 1px solid white;
// 		align-items: center;
// 		display: flex;
// 		padding: 10px 20px;

// 		&:first-child{
// 			padding: 0 20px 0 0;
// 			width: calc(100% - 800px);
// 		}
// 		&:last-child{
// 			border-right: none;
// 		}

// 		img{
// 			margin: 0 20px;
// 		}
// 	}

// 	h1, &_filter, &_description{
// 		font-size: 23px;
// 		font-weight: bold;
// 	}

// 	&_filter, &_description{
// 		font-size: 20px;
// 	}

// 	.show-hide{
// 		position: absolute;
// 		bottom: 10px;
// 		right: 10px;
// 	}
// }