.highlights {
	background-size: cover;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	margin: 25px 0px;
	transition: all .3s ease;
	height: 400px;

	.color-hover {
		background-color: rgb(38, 38, 38);
		border-radius: 3px;
		height: 400px;
		width: 100%;
		opacity: 0;
	}

	.info {
		background: #f8f8f8;
		border-radius: 0 0 3px 3px;
		bottom: 0;
		left: 0;
		right: 0;
		max-height: 265px;
		overflow: hidden;
		padding: 25px 20px 20px 40px;
		position: absolute;
		transition: all .3s ease;

		& > a {
			display: flex;
			align-items: flex-end;
		}

		.box {
			border-color: #000;
			color: #000;
			transition: all .3s ease;
		}
	}

	a, h2, ul li a, .categories { 
		color: #000 !important;
		transition: all .3s ease;
	}

	h2 {
		line-height: 1.5;
		transition: all .3s ease;
		.line { 
			background: #000 !important;
			margin: 5px 0;
			transition: all .3s ease;
		}
	}

	.header {
		display: flex;

	}

	.categories{
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
	}

	.horario {
		font-size: 12px;
		font-weight: bold;
		margin: 8px 0 15px 15px;
		p {
			font-size: 14px;
			font-weight: bold;
			line-height: 1;
			margin-bottom: 5px;
		}
		span {
			margin: 0 0 5px 0;
			white-space: nowrap;
		}
	}

	&:hover {
		box-shadow: 0 0 15px #8a8a8a;
		color: #fff;
		.color-hover {
			opacity: 0.5;
		}
		.info {
			background-color: rgb(38, 38, 38);
		}
		a, h2, ul li a, .categories { 
			color: #fff !important;
		}
		.line {
			background-color: #fff !important;
		}
		.box {
			border-color: #fff;
			color: #fff;
		}
		.categories.black {
			ul li {
				border-color: #fff;
				&:hover {
					background-color: #fff;
					a {
						color: #000 !important;
					}
				}
			}
		}
	}
}

.home {
	.highlights {
		margin-top: 40px;
	}
}

// ajustes nas intermediárias
.archive {
	.highlights {
		.categories {
			margin-top: 8px;
			ul {
				margin-left: 8px;
			}
		}
	}
}

.info_border{
	border-bottom: 5px solid black;
}

.older-posts{
	margin-bottom: 50px;
	clear: both;
}

.post-type-archive{
	.list-title {
		margin-top: 30px !important;
	}
}

// .submenu{
// 	display: flex;
// 	align-items: center;
// 	padding: 30px;
// 	height: 100px;
// 	width: 100%;
// 	position: relative;


// 	& > div{
// 		border-right: 1px solid white;
// 		align-items: center;
// 		display: flex;
// 		padding: 10px 20px;

// 		&:first-child{
// 			padding: 0 20px 0 0;
// 			width: calc(100% - 800px);
// 		}
// 		&:last-child{
// 			border-right: none;
// 		}

// 		img{
// 			margin: 0 20px;
// 		}
// 	}

// 	h1, &_filter, &_description{
// 		font-size: 23px;
// 		font-weight: bold;
// 	}

// 	&_filter, &_description{
// 		font-size: 20px;
// 	}

// 	.show-hide{
// 		position: absolute;
// 		bottom: 10px;
// 		right: 10px;
// 	}
// }