.highlights{
	overflow: hidden;
	position: relative;
	margin: 30px 0px;
	transition: box-shadow .3s;

	.img, .info{
		background-color: white;
		width: 100%;
		overflow: hidden;
		max-height: 265px;

		img{
			width: 100%;
		}
	}

	.info{
		padding: 13px 25px;
	}

	a { color: black;  }

	&:hover{
		box-shadow: 0 0 15px #8a8a8a;

		a, .box, h2, ul li a, .categories { color: white !important; }

		hr, .box, ul li { border-color: white !important; }
	}

	.categories{
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		font-weight: bold;

		&, &  a{
			font-size: 15px;
		}
	}

	.horario{
		font-size: 13px;
		font-weight: bold;
		float: right;
		span{
			float: right;
			margin: 0;
		}
	}
}

.info_border{
	border-bottom: 5px solid black;
}

.older-posts{
	margin-bottom: 50px;
}

.post-type-archive{
	.list-title {
		margin-top: 30px !important;
	}
}

// .submenu{
// 	display: flex;
// 	align-items: center;
// 	padding: 30px;
// 	height: 100px;
// 	width: 100%;
// 	position: relative;


// 	& > div{
// 		border-right: 1px solid white;
// 		align-items: center;
// 		display: flex;
// 		padding: 10px 20px;

// 		&:first-child{
// 			padding: 0 20px 0 0;
// 			width: calc(100% - 800px);
// 		}
// 		&:last-child{
// 			border-right: none;
// 		}

// 		img{
// 			margin: 0 20px;
// 		}
// 	}

// 	h1, &_filter, &_description{
// 		font-size: 23px;
// 		font-weight: bold;
// 	}

// 	&_filter, &_description{
// 		font-size: 20px;
// 	}

// 	.show-hide{
// 		position: absolute;
// 		bottom: 10px;
// 		right: 10px;
// 	}
// }