.highlights {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
	transition: all .3s ease;
	height: 400px;
	@include breakpoint(medium) {
		border-radius: 3px;
		margin: 25px 0px;
	}

	.color-hover {
		background-color: rgb(38, 38, 38);
		height: 400px;
		width: 100%;
		opacity: 0;
		@include breakpoint(medium) {
			border-radius: 3px;
		}
	}

	.info {
		background: #f8f8f8;
		bottom: 0;
		left: 0;
		right: 0;
		max-height: 265px;
		overflow: hidden;
		padding: 20px;
		position: absolute;
		@include breakpoint(medium) {
			border-radius: 0 0 3px 3px;
			padding: 25px 20px 20px 40px;
		}

		& > a {
			display: flex;
			align-items: flex-end;
		}

		.box {
			border-color: #000;
			color: #000;
			transition: all .3s ease;
		}
	}

	a, h2, ul li a, .categories { 
		color: #000 !important;
		transition: all .3s ease;
	}

	h2 {
		font-size: 20px;
		line-height: 1.5;
		transition: all .3s ease;
		@include breakpoint(medium) {
			font-size: 24px;
		}
		.line { 
			background: #000 !important;
			display: none;
			margin: 5px 0;
			transition: all .3s ease;
			@include breakpoint(medium) {
				display: block;
			}
		}
	}

	.header {
		@include breakpoint(medium) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			.info-left {
				flex-grow: 2;
			}
		}
	}

	.horario {
		font-size: 12px;
		font-weight: bold;
		margin: 0 0 10px;
		@include breakpoint(medium) {
			margin: 8px 0 15px 30px;
		}
		p {
			font-size: 14px;
			font-weight: bold;
			line-height: 1;
			margin-bottom: 5px;
		}
		span {
			margin: 0 0 5px 0;
			white-space: nowrap;
		}
		&.show-for-small-only {
			.box {
				display: inline-block;
				font-size: 14px;
				margin: 0;
			}
		}
	}

	.categories{
		@include breakpoint(small only) {
			color: #fff !important;
			position: absolute;
		    top: 30px;
		    left: 10px;
		    ul li {
		    	border-color: #fff;
		    	color: #fff;
		    	a {
		    		color: #fff !important;
		    	}
		    	&:hover {
		    		background-color: #000;
		    		border-color: #000;
		    	}
		    }
		}
		@include breakpoint(medium) {
			margin-top: 8px;
			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			position: relative;
			z-index: 1;
		}
	}

	@mixin highlights-active-hover {
		/* não é possível dar @extend em classes ou placeholders
		   dentro de media-queries, por isso o mixin */
		box-shadow: 0 0 15px #8a8a8a;
		color: #fff;
		.color-hover {
			opacity: 0.5;
		}
		.info {
			background-color: rgb(38, 38, 38);
		}
		a, h2, ul li a, .categories { 
			color: #fff !important;
		}
		.line {
			background-color: #fff !important;
		}
		.box {
			border-color: #fff;
			color: #fff;
		}
		.categories.black {
			ul li {
				border-color: #fff;
				&:hover {
					background-color: #fff;
					a {
						color: #000 !important;
					}
				}
			}
		}
	}

	&:active {
		// mobile
		@include breakpoint(large down) {
			@include highlights-active-hover;
		}
	}
	&:hover {
		// mobile
		@include breakpoint(large up) {
			@include highlights-active-hover;
		}
	}
} 

.highlights-carousel {
	height: 340px;
	width: 100%;
	@include breakpoint(medium) {
		height: 450px;
	}
}

.main-carousel-wrapper, .home-area {
	@include breakpoint(small only) {
		padding: 0;
	}
	a.flickity-prev-next-button, button.flickity-prev-next-button {
		display: none;
	}
	.flickity-page-dots {
		bottom: initial;
		left: 20px;
		right: 20px;
		width: calc(100% - 40px);
	    text-align: left;
		.dot {
			width: 6px;
		    height: 6px;
		    margin: 0 6px 0 0;
		}
		&:after {
			font-size: 10px;
    		margin-left: 5px;
		}
		@include breakpoint(medium) {
			top: 50px !important;
		}
	}
}

.main-carousel-wrapper {
	a.flickity-prev-next-button, button.flickity-prev-next-button {
		@include breakpoint(large) {
			display: block;
		}
	}
	.flickity-page-dots {
		top: 5px;
		
		.dot {
			background-color: #fff !important;
		}
		&:after {
			color: #fff;
			content: 'deslize para mais destaques';
		}
		@include breakpoint(large) {
			display: none;
		}
	}
}

.home-area {
	a.flickity-prev-next-button, button.flickity-prev-next-button {
		@include breakpoint(medium) {
			display: block;
		}
	}
	.flickity-page-dots {
		top: 30px;

		&:after {
			color: #000;
			content: 'conheça melhor';
		}
		@include breakpoint(medium) {
			display: none;
		}
	}
}

.main-carousel {
	.carousel-cell {
		width: 100%; 
		height: 340px; 
		@include breakpoint(medium) {
			height: 400px; 
		}
	}
	.categories {
		ul {
			margin-left: 10px; 
		}
	}
	.more-info {
		margin-top: 5px;
		a {
		    font-size: 14px;
	    	text-decoration: underline;		
		}
	}
	a.flickity-prev-next-button, button.flickity-prev-next-button {
		&.previous {
			left: -50px;
		}
		&.next {
			right: -50px;
		}
	}
}

a.flickity-prev-next-button, button.flickity-prev-next-button {
	border-radius: 0;
	border: 1px solid black;
	height: 35px;
	top: 50%;
	width: 35px;
	&:disabled {
		opacity: 0.7;
	}
	&:hover {
		cursor: pointer;
	}
	&, &:focus, &:hover {
		background: transparent;
	}
}

.home {
	.highlights {
		@include breakpoint(medium) {
			margin-top: 40px;
		}
	}
}

// ajustes nas intermediárias
.archive {
	.main-carousel-wrapper {
		@include breakpoint(small only) {
			margin-bottom: 15px;
		}
		.list-title {
			margin-top: 30px !important;
		}
		.highlights {
			.categories {
				@include breakpoint(small only) {
					color: #fff !important;
				}
				ul {
					margin-left: 8px;
				}
			}
		}
	}
}

.post-type-archive-projetos_ctp {
	.main-carousel-wrapper .list-title {
		@include breakpoint(small only) {
			margin: 15px !important;
	    	line-height: 1.7;
		}
	}
}

.info_border{
	border-bottom: 5px solid black;
}

.older-posts {
	clear: both;
	@include breakpoint(medium) {
		margin-bottom: 50px;
	}
}

// .submenu{
// 	display: flex;
// 	align-items: center;
// 	padding: 30px;
// 	height: 100px;
// 	width: 100%;
// 	position: relative;


// 	& > div{
// 		border-right: 1px solid white;
// 		align-items: center;
// 		display: flex;
// 		padding: 10px 20px;

// 		&:first-child{
// 			padding: 0 20px 0 0;
// 			width: calc(100% - 800px);
// 		}
// 		&:last-child{
// 			border-right: none;
// 		}

// 		img{
// 			margin: 0 20px;
// 		}
// 	}

// 	h1, &_filter, &_description{
// 		font-size: 23px;
// 		font-weight: bold;
// 	}

// 	&_filter, &_description{
// 		font-size: 20px;
// 	}

// 	.show-hide{
// 		position: absolute;
// 		bottom: 10px;
// 		right: 10px;
// 	}
// }