$color_cursos : #9a258f;
$color_varandas : #00958a;
$color_publicacoes : #f5821f;
$color_projetos : #522e91;
$color_institucionais : #522e91;

.single-cursos_ctp, .post-type-archive-cursos_ctp {
	.highlights:hover {
		.color-hover, .info {
			background-color: $color_cursos !important;
		}
		.categories.black {
			ul li {
				&:hover {
					a {
						color: $color_cursos !important;
					}
				}
			}
		}
	}

	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid $color_cursos;
		font-weight: bold;

		a{ color: $color_cursos; }
	}

	.header-single-menu, .header-single, .header-single:before {
		background-color: $color_cursos !important;
	}
	
	.header-single-menu, .header-single {
		background-color: #9A248E !important;
	}
}

.single-varandas_ctp, .post-type-archive-varandas_ctp{
	.highlights:hover {
		.color-hover, .info {
			background-color: $color_varandas;
		}
		.categories.black {
			ul li {
				&:hover {
					a {
						color: $color_varandas !important;
					}
				}
			}
		}
	}

	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid $color_varandas;
		font-weight: bold;

		a{ color: $color_varandas; }
	}

	.list-item:hover, .header-single-menu, .header-single, .header-single:before {
		background-color: $color_varandas !important;
	}
}

.single-publicacoes_ctp, .post-type-archive-publicacoes_ctp{
	.highlights:hover {
		.color-hover, .info {
			background-color: $color_publicacoes;
		}
		.categories.black {
			ul li {
				&:hover {
					a {
						color: $color_publicacoes !important;
					}
				}
			}
		}
	}

	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid $color_publicacoes;
		font-weight: bold;

		a{ color: $color_publicacoes; }
	}

	.header-single-menu, .header-single, .header-single:before {
		background-color: $color_publicacoes !important;
	}
}

.single-projetos_ctp, .post-type-archive-projetos_ctp {
	.highlights:hover {
		.color-hover, .info {
			background-color: $color_projetos;
		}
		.categories.black {
			ul li {
				&:hover {
					a {
						color: $color_projetos !important;
					}
				}
			}
		}
	}

	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid $color_projetos;
		font-weight: bold;

		a{ color: $color_projetos; }
	}

	.header-single-menu, .header-single, .header-single:before {
		background-color: $color_projetos !important;
	}
	.header-single {
		background-image: url('../images/project-default-bg.jpg');
	}
}

.page, .single-comunicados_ctp {
	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid $color_institucionais;
		font-weight: bold;

		a{ color: $color_institucionais; }
	}

	.header-single-menu, .header-single {
		background-color: $color_institucionais !important;
	}
	.list-item:hover {
		background-color: rgb(38, 38, 38) !important;
	}
}

// hover nos cards de post 

.list-item {
	&.type-cursos_ctp {
		.img {
			.color-hover {
				background-color: $color_cursos;
			}
		}
		&:hover {
			background-color: $color_cursos !important;
		}
	}
	&.type-varandas_ctp {
		.img {
			.color-hover {
				background-color: $color_varandas;
			}
		}
		&:hover {
			background-color: $color_varandas !important;
		}
	}
	&.type-projetos_ctp {
		.img {
			background-image: url('../images/project-default-bg.jpg');
			background-position: center;
			background-size: cover;
			.color-hover {
				background-color: $color_projetos;
			}
		}
		&:hover {
			background-color: $color_projetos !important;
		}
	}
	&.type-publicacoes_ctp {
		.img {
			.color-hover {
				background-color: $color_publicacoes;
			}
		}
		&:hover {
			background-color: $color_publicacoes !important;
		}
	}
}

.highlights {
	&.type-projetos_ctp {
		background-image: url('../images/project-default-bg.jpg');
		background-position: center;
	}
	&:hover {
		&.type-cursos_ctp {
			.color-hover, .info {
				background-color: $color_cursos;
			}
		}
		&.type-varandas_ctp {
			.color-hover, .info {
				background-color: $color_varandas;
			}
		}
		&.type-projetos_ctp {
			.color-hover, .info {
				background-color: $color_projetos;
			}
		}
		&.type-publicacoes_ctp {
			.color-hover, .info {
				background-color: $color_publicacoes;
			}
		}
	}
}