$small-medium: "only screen and (max-width: 1024px)";

[v-cloak] { display:none; }

html, body{
	height: 100%;
	margin-top: 0 !important;
}

body{
	overflow-x:hidden;
}

.home-cover + .row-menu.home + #content{
	margin: 0px;
}

.row.row-menu.spread-items.header-single-menu.fixed {
	top: 75px;
}

.et_divi_builder #et_builder_outer_content .et_pb_row{
	max-width: 100% !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_section, .et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_0{
	padding: 0 !important;
}

input[type=text]{
	border-radius: 0px;
}

ul{
	display: flex;
	margin: 0px;
}

h3,h4,h5{
	font-weight: bold;
}

.row{
	max-width: 1060px !important;
}

.row-menu{
	max-width: 100% !important;
	&.fixed{
		top: 0;
		right: 0;
		left: 0;
		position: fixed;
		z-index: 10;
		margin: 0;
	}
}

.flickity-slider {
	transform: none !important;
	
	.carousel-cell {
		left: 0 !important;
		opacity: 0;
		transition: opacity 0.6s ease-in-out;
		z-index: -1;

		&.is-selected {
			opacity: 1;
			z-index: 0
		}
	}
}