$small-medium: "only screen and (max-width: 1024px)";

html, body{
	height: 100%;
	margin-top: 0 !important;
}

.home-cover + .row-menu.home + #content{
	margin: 0px;
}

.row.row-menu.spread-items.header-single-menu.fixed {
	top: 75px;
}

.et_divi_builder #et_builder_outer_content .et_pb_row{
	max-width: 100% !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_section, .et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_0{
	padding: 0 !important;
}

ul{
	display: flex;
	margin: 0px;
}

h3,h4,h5{
	font-weight: bold;
}

.row{
	max-width: 1060px !important;
}

.row-menu{
	max-width: 100% !important;
	&.fixed{
		top: 0;
		width: 100%;
		position: fixed;
		z-index: 2;
		margin: 0;			

		// @media #{$large-up} { 
		// 	margin: 0px calc((100% - 1295px) / 2);
		// }
	}
}
