footer{
	width: 100%;
	background-color: rgb(38, 38, 38);
	padding: 40px 30px;
	overflow: hidden;

	.row {
		max-width: 1280px !important;
	}

	&, p, b, li, a, input {
		color: white;
		font-size: 14px;
	}

	a { 
		&:focus, &:active, &:hover {
			color: white;
		}
	}

	ul {
		display: block;
		li {
			display: inline-block;
			margin-bottom: 5px;
			a {
				font-weight: bold;
				margin: 0 !important;
			}
		}
	}
	.contact-wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	.contact {
		flex-grow: 0.6;
		a {
			text-decoration: underline;
		}
	}

	.newsletter-input {
		border: none;
		border-bottom: 1px solid white; 
		background-color: transparent;
		font-family: 'Raleway';
		outline: none;
		line-height: 1.5;
		width: 48%;
		flex-grow: 0;
		&::placeholder { 
        	color: #fff;
        }
        &::-webkit-input-placeholder { 
            color: #fff;
        }
        &::-moz-placeholder { 
            color: #fff;
        }
        &:-ms-input-placeholder { 
            color: #fff;
        }
        &:-moz-placeholder { 
            color: #fff;
        }
	}
	.newsletter-button {
		flex-grow: 0;
		margin: 0; 
		padding: 0 12px;
		white-space: nowrap;
	}

	.social-content {
		margin-bottom: 50px;
		overflow: hidden;
		.latest {
			float: left;
			ul li a {
				font-family: 'Raleway';
				font-size: 15px;
				font-weight: 500;
				color: #9b9b9b;
			}
		}
		.articles, .videos {
			box-sizing: border-box;
			padding-right: 4%;
			width: 34%;
		}
		.tags {
			width: 26%;
		}
	}

	small {
		font-size: 10px;
		a {
			font-size: 10px;
			text-decoration: underline;
		}
	}

	.creative-commons {
		margin-right: 5px;
		vertical-align: sub;
	}
}