.home-cover{
	background-color: purple;
	position: relative;
	width: 100%;

	.home-cover-carousel-item {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.logo-cover {
		height: auto;
		width: 130px;
		position: absolute;
		top: 75px;
		left: 35px;
	}

	h1 {
		top: 50%;
		width: 60%;
		color: #262626;
		display: block;
		margin: 0 auto;
		font-size: 60px;
		font-weight: 900;
		line-height: 1.2;
		position: relative;
		font-family: 'Raleway';
		transform: translateY(-50%);

		p {
			font-size: 20px;
			font-weight: 400;
		}
	} 

	.button-english {
		height: 45px;
		width: 200px;
		position: absolute;
		top: 30px;
		right: 25px;
		&.curved-shadow {
			z-index: 0;
		}
		.button {
			background-color: #262626;
			font-weight: bold;
			padding: 12px 62px;
			height: 45px;
			width: 200px;
			position: relative;
			z-index: 1;
		}
	}

	.arrow {
		background-color: #262626;
		box-sizing: border-box; 
		box-shadow: 0px 6px 6px 3px rgba(0,0,0,0.3);
		color: #fff;
		height: 120px;
		width: 55px;
		padding-top: 50px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -30px;
		text-align: center; 

		img {
			display: block;
			margin: 8px auto 0; 
		}
	}
}

.home {
	.highlights { 
		.categories {
			@include breakpoint(small only) {
				left: 20px;
			}
		}
	}
}

.home-area {
	margin-top: 20px;
	position: relative;
	@include breakpoint(medium) {
		margin-top: 50px;
	}
	
	&-item{
		@include breakpoint(medium) {
			display: flex;
			align-items: center;
			padding: 0 70px;
		}
	}

	h2, p{
		font-weight: normal;
		font-family: 'Raleway';
		b{ 
			color: #00958a;  	
		}
	}

	h2 {
		font-size: 20px;
		@include breakpoint(medium) {
			font-size: 44px;
			line-height: 60px;
			margin-top: 20px;
		}
	}

	.list-title {
		font-size: 24px;
		padding: 0;
		position: absolute;
		top: 0;
		left: 90px;
	}

	.carousel-cell {
		width: 100%;
		@include breakpoint(small only) {
			height: initial;
		}
	}

	.area-left{
		padding: 60px 20px 0;
		@include breakpoint(medium) {
			flex: 0;
			min-width: 340px;
			padding: 0;
		}
	}

	.area-midia	 {
		display: none;
		@include breakpoint(medium) {
			height: 295px;
			display: block;
			margin-left: 40px;
			width: 100%;
		}
	}

	a {
		margin-top: 15px;
		font-weight: bold;
		position: relative;
		@include breakpoint(medium) {
			margin-top: 20px;
		}
	}

	.color-line {
		height: 5px;
		width: 100%;
		position: absolute;
    	top: 0;
		span {
			display: inline-block;
			height: 5px;
			&:nth-child(1) {
				background-color: #9a258f;
				width: calc(100% - 39%);
			}
			&:nth-child(2) {
				background-color: #00958a;
				width: 13%;
			}
			&:nth-child(3) {
				background-color: #522e91;
				width: 13%;
			}
			&:nth-child(4) {
				background-color: #f5821f;
				width: 13%;
			}
		}
	}
}

.home {
	.list-item-wrapper:nth-child(3) {
		@media screen and (min-width: 567px) and (max-width: 736px) {
			display: none;
		}
	}
}