.menu-container{
	height: 75px;
	box-shadow: 0 4px 7px -5px black;
	padding: 17px 35px; //estranho
	position: relative;
	z-index: 1;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media#{$large-up}{
		img{ float: left; }
		display: block;
	}


	.menu-social{
		position: absolute;
		right: 35px;
		top: 10px;

		ul{
			width: 380px;
		}
		.text{
			font-size: 13px;
			a{ padding-bottom: 5px; }

			a.selected {
				font-weight: bold;
				border-bottom: 2px solid black;
			}
		}
	}

	i.fa-search{
		right: 35px;
		font-size: 20px;
		bottom: 10px;

		@media #{$medium-up}{
			position: absolute;
			&::after{
				content: 'buscar';
				font-family: 'Roboto Mono';
				font-size: 14px;
				margin-left: 10px;
			}
		}
	}

	.menu-nav{
		position: absolute;
		bottom: 0px;
		left: 130px;
		
		@media #{$small-only}{
			&::before{
				content: '';
				width: 1000px;
				height: 1000px;
				background: #ebebeb;
				position: absolute;
				z-index: -1;
				left: -50px;
				top: -25px;
			}
		}

		ul {
			width: 700px;
			li {
				border-bottom: 5px solid transparent;
			}
		}
	}

	.menu-social ul, .menu-nav 	ul{
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		margin: 0;

		li {
			padding-bottom: 4px;

			i{ font-size: 18px; }

			a{ color: black; }
		}
	}
}

#content{
	margin: 105px 0px;
}

// area = {
	// 	'58' : {
		// 		'type' : 'varandas',
		// 		'bgc' : #00958a,
		// 		'bgc_light' : #009187,
		// 		'color' : white,
		// 		'submenu_img' : ''
		// 	},
		// 	'47' : {
			// 		'type' : 'cursos',
			// 		'bgc' : #9a258f,
			// 		'bgc_light' : #96248c,
			// 		'color' : white,
			// 		'submenu_img' : ''
			// 	},
			// 	'64' : {
				// 		'type' : 'projetos',
				// 		'bgc' : #fbaf17,
				// 		'color' : black,
				// 		'submenu_img' : ''
				// 	},
				// 	'66' : {
					// 		'type' : 'publicacoes',
					// 		'bgc' : #f5821f,
					// 		'color' : black,
					// 		'submenu_img' : ''
					// 	}
					// }

					// for key, value in area
					// 	.single-{value.type}_ctp, .post-type-archive-{value.type}_ctp, .page-id-{key}
					// 		.menu
					// 			background-color: value.bgc;

					// 		#post-number
					// 			background-color: value.bgc_light;

					// 		.highlights .info, .submenu
					// 			background-color: value.bgc;
					// 			& > div
					// 				border-color: value.color;
					// 			&, h1, p, a
					// 				color: value.color;
