.menu-container{
	height: 75px;
	box-shadow: 0 4px 7px -5px black;
	padding: 17px 35px; //estranho
	position: relative;
	z-index: 20;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media#{$large-up}{
		img{ float: left; }
		display: block;
	}


	.menu-social {
		position: absolute;
		right: 35px;
		top: 10px;

		ul {
			width: 340px;
		}
		.text {
			font-size: 10px;
			a {
				line-height: 250%;
				padding-bottom: 1px;
			}

			a.selected {
				font-weight: bold;
				border-bottom: 2px solid black;
			}
		}
	}

	.search-button {
		cursor: pointer;
		right: 35px;
		font-size: 20px;
		bottom: 10px;

		@media #{$large-up}{
			position: absolute;
			&::after{
				content: 'buscar';
				font-family: 'Roboto Mono';
				font-size: 14px;
				margin-left: 5px;
			}
		}
	}

	.menu-nav{
		position: absolute;
		bottom: 0px;
		left: 130px;
		
		.line{ display: none; }

		@media #{$small-medium}{
			transform: translateX(-110%);
			transition: all .5s cubic-bezier(0.53, 0.04, 0.1, 1.01);
			left: 0;
			width: 250px;
			overflow: scroll;
			height: 100%;
			position: fixed;
			top: 75px;
			padding: 20px;
			box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);

			* { position: relative; }

			&.active { 
				transform: translateX(0%); 
			}

			&::before{
				content: '';
				width: 1000px;
				height: 1000px;
				background: #ebebeb;
				position: absolute;
				left: -50px;
				top: -25px;
			}

			.line{ display: block; }

			.menu-mobile-footer{
				h3 {    
					margin-top: 20px;
					font-size: 15px;
					font-weight: normal;
				}
				.contato { font-size: 15px; }
				.trending ul li {
					line-height: 21px;
					a{
						color: #a6a6a6 !important;
						line-height: auto;
						font-size: 14px;
					}
				}
				.redes ul li {
					border-bottom: 0px solid transparent;
					.fa-youtube-play:after{ content: 'Youtube'; }
					.fa-instagram:after{ content: 'Instagram'; }
					.fa-twitter:after{ content: 'Twitter'; }
					.fa-facebook:after{ content: 'Facebook'; }
					.fa-medium:after{ content: 'Medium'; }
					.fa-github:after{ content: 'Github'; }

					.fa:after{
						font-family:'Roboto MOno';
						font-size: 15px;
						margin-left: 8px;
					}
				}

				.line{ display: none; }

			}
		}

		ul {
			width: 700px;

			@media #{$small-medium}{
				flex-direction: column;	
				width: auto;

				li { 
					font-size: 20px; 
					border-bottom-color: transparent !important;
					a { color: black !important; }

					&.current-menu-item{ 
						position: relative; 
						&:before{
							content: '';
							position: absolute;
							left: -20px;
							background-color: black;
							width: 12px;
							height: 100%;
							float: left;
							display: block;
							overflow: hidden;
						}
					}
				}
			}

			li { border-bottom: 5px solid transparent; }
		}
	}

	.menu-social ul, .menu-nav 	ul{
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		margin: 0;

		li {
			padding-bottom: 4px;

			i{ font-size: 18px; }

			a{ color: black; }
		}
	}
}

#content_all {
	position: relative;
}

#content{
	margin: 75px 0px 20px;
	@include breakpoint(medium) {
		margin: 75px 0px;
	}
}

// area = {
	// 	'58' : {
		// 		'type' : 'varandas',
		// 		'bgc' : #00958a,
		// 		'bgc_light' : #009187,
		// 		'color' : white,
		// 		'submenu_img' : ''
		// 	},
		// 	'47' : {
			// 		'type' : 'cursos',
			// 		'bgc' : #9a258f,
			// 		'bgc_light' : #96248c,
			// 		'color' : white,
			// 		'submenu_img' : ''
			// 	},
			// 	'64' : {
				// 		'type' : 'projetos',
				// 		'bgc' : #fbaf17,
				// 		'color' : black,
				// 		'submenu_img' : ''
				// 	},
				// 	'66' : {
					// 		'type' : 'publicacoes',
					// 		'bgc' : #f5821f,
					// 		'color' : black,
					// 		'submenu_img' : ''
					// 	}
					// }

					// for key, value in area
					// 	.single-{value.type}_ctp, .post-type-archive-{value.type}_ctp, .page-id-{key}
					// 		.menu
					// 			background-color: value.bgc;

					// 		#post-number
					// 			background-color: value.bgc_light;

					// 		.highlights .info, .submenu
					// 			background-color: value.bgc;
					// 			& > div
					// 				border-color: value.color;
					// 			&, h1, p, a
					// 				color: value.color;
