.menu-container {
	z-index: 20;
	height: 75px;
	position: relative;
	background-color: #eee;
	box-shadow: 0 4px 7px -5px black;

	@include breakpoint(large) {
		display: flex;
		padding: 17px 35px; //estranho
		align-items: center;
		justify-content: space-between;
		img {
			float: left;
		}
	}
	@include breakpoint(large down) {
		.fa-bars {
			left: 15px;
			bottom: 25px;
			font-size: 25px;
			position: absolute;
		}
		h1 {
		    left: 50%;
		    top: 10px;
			position: absolute;
		    margin-left: calc(-58px / 2);
		}
	}

	.menu-social {
		top: 10px;
		right: 35px;
		position: absolute;

		ul {
			width: 340px;
		}
		.text {
			font-size: 10px;
			a {
				line-height: 250%;
				padding-bottom: 1px;
			}

			a.selected {
				font-weight: bold;
				border-bottom: 2px solid black;
			}
		}
	}

	.search-button {
		right: 15px;
		bottom: 25px;
		cursor: pointer;
		font-size: 25px;
		position: absolute;
		
		@include breakpoint(medium) {
			font-size: 20px;
		}
		@include breakpoint(large) {
			right: 35px;
			bottom: 10px;
			&::after{
				font-size: 14px;
				margin-left: 5px;
				content: 'buscar';
				font-family: 'Roboto Mono';
			}
		}
	}

	.menu-social ul, .menu-nav 	ul{
		margin: 0;
		display: flex;
		list-style-type: none;
		justify-content: space-between;

		li {
			padding-bottom: 4px;

			i{ font-size: 18px; }

			a{ color: black; }
		}
	}

	.menu-nav {
		bottom: 0px;
		left: 130px;
		z-index: 10;
		position: absolute;
		overflow-x: hidden;
		
		.line { display: none; }

		@media #{$small-medium} {
			top: 75px;
			left: -270px;
			width: 250px;
			height: 100%;
			padding: 20px;
			position: fixed;
			overflow: scroll;
			background-color: #eee;
			box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
			transition: all .5s cubic-bezier(0.53, 0.04, 0.1, 1.01);

			* { position: relative; }

			&:after {
				left: -270px;
				transition: left .5s cubic-bezier(0.53, 0.04, 0.1, 1.01);
			}

			&.active { 
				left: 0;
				&:after {
					left: 0;
				} 
			}

			.line{ display: block; }

			.menu-mobile-footer{
				h3 {    
					font-size: 15px;
					margin-top: 20px;
					font-weight: normal;
				}
				.contato { font-size: 15px; }
				.trending ul li {
					line-height: 21px;
					a{
						font-size: 14px;
						line-height: auto;
						color: #a6a6a6 !important;
					}
				}
				.redes ul li {
					border-bottom: 0px solid transparent;

					.fa-medium:after{ content: 'Medium'; }
					.fa-github:after{ content: 'Github'; }
					.fa-twitter:after{ content: 'Twitter'; }
					.fa-facebook:after{ content: 'Facebook'; }
					.fa-instagram:after{ content: 'Instagram'; }
					.fa-youtube-play:after{ content: 'Youtube'; }

					.fa:after{
						font-family:'Roboto MOno';
						font-size: 15px;
						margin-left: 8px;
					}
				}

				.line{ display: none; }

			}
		}

		ul {
			width: 700px;

			@media #{$small-medium}{
				flex-direction: column;	
				width: auto;

				li { 
					font-size: 20px; 
					border-bottom-color: transparent !important;

					&.current-menu-item, a.selected { 
						position: relative; 
						&:before {
							content: '';
							left: -20px;
							width: 12px;
							float: left;
							height: 36px;
							display: block;
							overflow: hidden;
							position: absolute;
							background-color: black;
						}
					}
				}

				&:first-child {
					margin-bottom: 3px;
				}
			}

			&.lang {
				margin: 10px 0 5px;
				@include breakpoint(large) {
					display: none;
				}
			}

			li { border-bottom: 5px solid transparent; }
		}
	}

	.menu-nav-bg {
		left: 0;
		right: 0;
		top: 75px;
		bottom: 0;
		width: 768px;
		display: none;
		height: 1024px;
		position: absolute;
		transform: translate3d(0px,0px,0px);
		background: rgba(165, 165, 165, 0.9);		

		@include breakpoint(medium) {
			width: 1024px;
			height: 768px;
		}			
	}
}

.menu-container .menu-nav .trending ul li.current-menu-item:before {
	background-color: transparent !important;
}

#content_all {
	position: relative;
}

#content{
	margin: 75px 0px 20px;
	@include breakpoint(medium) {
		margin: 75px 0px;
	}
}

// area = {
	// 	'58' : {
		// 		'type' : 'varandas',
		// 		'bgc' : #00958a,
		// 		'bgc_light' : #009187,
		// 		'color' : white,
		// 		'submenu_img' : ''
		// 	},
		// 	'47' : {
			// 		'type' : 'cursos',
			// 		'bgc' : #9a258f,
			// 		'bgc_light' : #96248c,
			// 		'color' : white,
			// 		'submenu_img' : ''
			// 	},
			// 	'64' : {
				// 		'type' : 'projetos',
				// 		'bgc' : #fbaf17,
				// 		'color' : black,
				// 		'submenu_img' : ''
				// 	},
				// 	'66' : {
					// 		'type' : 'publicacoes',
					// 		'bgc' : #f5821f,
					// 		'color' : black,
					// 		'submenu_img' : ''
					// 	}
					// }

					// for key, value in area
					// 	.single-{value.type}_ctp, .post-type-archive-{value.type}_ctp, .page-id-{key}
					// 		.menu
					// 			background-color: value.bgc;

					// 		#post-number
					// 			background-color: value.bgc_light;

					// 		.highlights .info, .submenu
					// 			background-color: value.bgc;
					// 			& > div
					// 				border-color: value.color;
					// 			&, h1, p, a
					// 				color: value.color;
