.single #content {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.header-single {
    display: flex;
    height: 300px;
    position: relative;
    align-items: center;
    background-size: cover;
    filter: grayscale(10%);
    background-color: purple;

    @media #{$small-only} {
        height: 360px;
        box-shadow: inset 0px 1px 10px 0 rgba(0, 0, 0, 0.5);

        .column {
            padding: 0 20px;
        }
        .column.medium-4 {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &:before{
        top: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        opacity: 0.75;
        position: absolute;
    }

    .row{ margin: 0 auto; width: 100%; }

    h1, p{
        margin: 0;
        padding: 0;
        color: white;
        font-size: 17px;
        font-weight: 700;
        font-family: 'Raleway';

        &.raleway{ font-weight: 400; }
    }

    .pessoas{
        line-height: 1.4;
        font-size: 14px;
        margin-top: 10px;
        @include breakpoint(medium) {
            font-size: 20px;
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .box-title { font-size: 14px; }

    .box {
        font-size: 14px;
        padding: 0px 5px;
        display: inline-block;
        text-transform: lowercase;
    }

    h1 {
        font-size: 30px;
        font-weight: 900;
        line-height: 34px;
        @include breakpoint(medium) {
            font-size: 50px;
            line-height: 50px;
        }
    }

    .line {
        margin: 10px 0px;
        background-color: white !important;

        @include breakpoint(medium) {
            width: 60%;
        }
    }

    .dates {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        @include breakpoint(medium) {
            margin-bottom: 10px;
        }

    }
}

.header-single-menu{
    width: 100%;
    height: 50px;
    color: black;
    font-weight: bold;
    transform:  translate3d(0px,0px,0px);

    @include breakpoint(large) {
        height: 40px;
    }

    &.fixed + &-fix{
        width: 100%;
        height: 50px;
        @include breakpoint(large) {
            height: 40px;
        }
    }

    &.fixed{
        top: 75px;
        position: fixed;
        box-shadow: 0 4px 7px -5px black;
    }
}

.row.single-menu-container{
    width: 100%;
    display: flex;
}

.single-menu {
    text-transform: lowercase;

    @media #{$large-up}{
        flex: 1;
        span { display: none; }
        ul{
            display: flex;
            list-style-type: none;
        }
        li{
            display: block;
            padding: 0px 30px;
            font-weight: initial;

            a {
                color: white;
                &.active{
                    font-weight: bold;
                    padding-bottom: 4px;
                    border-bottom: 5px inset white;
                }
            }

            &:first-child{ padding-left: 10px; }
            &:last-child{ border-right: none; }
        }
    }
}

.sidebar {
    position: relative;
    .button {
        left: 0;
        right: -1px;
        height: 50px;
        display: flex;
        font-size: 15px;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
    }

    @include breakpoint(small only) {
        width: 130px;
    }
    @include breakpoint(medium only) {
        width: 190px;
    }
    @include breakpoint(large) {
        display: flex;
        flex-grow: 0.3;
        align-items: center;
        justify-content: flex-end;

        .button {
            height: 40px;
            white-space: nowrap;
        }
    }
}

.tab {
    display: flex;
    overflow: hidden;
    align-items: baseline;

    &-title {
        width: 200px;
        margin-right: 30px;
        text-transform: lowercase;

        @media #{$small-only}{
            display: none;
        }
    }

    &-content {
        width: 100%;
        @include breakpoint(medium) {
            width: calc(100% - 380px);
        }

        .list-title {
            display: block;
            margin: 0 0 15px 0 !important;
        }

        a {
            font-weight: 600;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.content-area{
    padding: 30px 40px;
    @media #{$small-only}{
        padding: 20px !important;
    }

    .row{
        width: 100% !important;
        margin: 0 auto !important;
    }

    &.tab .row{ display: flex; }
}


/********** COMPONENTES **************/

/* COMPONENTE PALESTRANTES */
.content-publicacoes {
    display: block;

    img {
        margin: 0 0 15px;
        box-shadow: 0px 0px 5px gray;

        @media #{$small-only} {
            margin-bottom: 10px;
            display: block;
            margin: 0 auto 20px auto;
        }

        @media screen and (min-width: 415px)  {
            float: left;
            margin: 5px 25px 5px 0;
            max-width: 300px;
            margin: 0 50px 0 0;
        }
    }

    a {
        text-decoration: none;
        &:hover {
            h3, p {
                text-decoration: underline;
            }
        }
    }

    p, h3{
        font-family: 'Raleway';
    }

    h3 { margin-bottom: 5px; }

    p {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
    }

    .row {
        display: block !important;
    }

    .tab-content {
        @include breakpoint(medium) {
            margin: 5px 0 0 230px;
        }
    }

    .tab-title {
        @media #{$small-only} {
            float: none;
            display: block;
            margin-bottom: 20px;
        }
    }

    .publicacao {
        margin-bottom: 20px;
        overflow: hidden;
        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
    }
}

/* COMPONENTE PALESTRANTES */
.pessoa {
    float: left;
    width: 100px;
    height: 135px;
    position: relative;
    margin: 0 25px 25px 0;

    input[type="radio"] {
        display: none;
    }

    .pessoa-mini {
        .img {
            width: 85px;
            filter: gray;
            opacity: 0.7;
            height: 85px;
            cursor: pointer;
            border-radius: 50%;
            background-size: cover;
            filter: grayscale(100%);
            background-position: center;
            -webkit-filter: grayscale(1);
            -webkit-filter: grayscale(100%);
            cursor: pointer;
            margin: 0 auto;

            &:hover {
                filter: grayscale(0%);
            }

            &:img {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
        .name {
            opacity: 0.75;
            font-size: 14px;
            margin: 5px 0 0;
            opacity: 0.75;
            text-align: center;
        }
        .line {
            opacity: 0;
            height: 5px;
            border-radius: 5px;
        }
    }

    input[type="radio"]:checked {
        & + .pessoa-mini {
            .name {
                font-weight: 700;
                opacity: 1;
            }
            .line {
                opacity: 1;
            }
            .img {
                opacity: 1;
                display: block;
                filter: grayscale(0%);
            }
        }
    }

    &:hover .name{
        font-weight: 700;
        opacity: 1;
    }
}

.pessoa-info {
    color: white;
    height: auto;
    max-height: 0px;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Raleway';
    background-color: #000;
    transition: max-height .3s;

    @include breakpoint(small only) {
        margin: 0 -20px;
        padding: 0 20px;
    }
    @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        width: calc(100% + 80px);
        margin-left: -40px;
    }

    .close {
        display: none;
    }

    .pessoa-info-content {
        margin: 20px 0;
        position: relative;

        @media screen and (min-width: 415px) and (max-width: 768px)  {
            float: left;
            width: 100%;
        }
        @include breakpoint(medium) {
            float: right;
        }
        .pessoa-thumb {
            float: left;
            padding: 10px;
            margin: 0 35px 0 0;
            box-sizing: border-box;

            @media screen and (max-width: 414px)  {
                display: none;
            }

            .img {
                border: 0;
                width: 160px;
                height: 160px;
                outline: none;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
            }
        }

        .pessoa-text {
            @include breakpoint(medium) {
                float: left;
                max-width: 480px;
            }
            h2, h3 {
                margin-bottom: 5px;
                @include breakpoint(small only) {
                    font-size: 20px;
                    letter-spacing: -0.5px;
                    width: calc(100% - 35px);
                }
            }
        }
    }
    &.active {
        max-height: 1000px;

        .pessoa-info-content {
            .pessoa-thumb .img {
                box-shadow: 0 0 0 3px #fff, 0 0 0 7px #999, 0 0 0 11px #444;
            }
            .close {
                display: block;
                @include breakpoint(small only) {
                    top: -10px;
                    right: -10px;
                    margin-top: 0;
                }
                @include breakpoint(medium) {
                    right: -70px;
                    margin-top: 0;
                }
            }
        }
    }
}

.related-content {
    background-color: #d9d9d9;
    padding: 15px !important;

    @include breakpoint(small only) {
        .list-title {
            display: block;
            a {
                float: right;
                margin-top: 7px;
            }
        }
    }
    @include breakpoint(medium) {
        padding: 15px 0 !important;
        .list-title {
            margin-left: 0.9375rem;
        }
    }
    .column {
        @media screen and (max-width: 414px) {
            padding: 0px !important;
        }
        @media screen and (min-width: 415px) and (max-width: 768px) {
            width: 50%;
            &:nth-child(odd) {
                padding-left: 0px !important;
                padding-right: 7px !important;
            }
            &:nth-child(even) {
                padding-left: 7px !important;
                padding-right: 0px !important;
            }
        }
    }
    .list-item-wrapper {
        @media screen and (min-width: 415px) and (max-width: 768px) {
            width: 100% !important;
        }
    }
}

/* COMPONENT AULAS E COMPONENTS*/
.component-tabs{
    .tab-content {
        overflow: hidden;
        position: relative;
        padding: 0 20px; overflow: hidden;

        @media #{$small-only}{
            padding: 0px !important;
        }
    }

    .columns:nth-of-type(even){
        padding-right: 0px;
    }

    .columns:nth-of-type(odd){
        padding-left: 0px;
    }

    .component-tabs-title{
        width:200px;
        float: left;

        @media #{$small-only}{
            display: none !important;
        }

        ul {
            display: block;
            li{
                font-size: 15px;
                font-family: 'Raleway';
            }
        }

        h5 {
            font-size: 15px;
            margin: 10px 0px !important;
            &:not(.label) {
                border-bottom: 1px solid black !important;
            }
        }
    }

    .component-tabs-tab{
        position: relative;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            margin-bottom: 50px;
        }

        &:last-child{
            margin-bottom: 0;
        }

        h1{
            display: block;
            position: relative;
            margin: 0 !important;
        }

        .tab-subtitle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        p.aula-pessoas{
            font-size: 12px;
            display: inline-table;
            border-bottom: 1px solid black;
        }

        p.left{ font-size: 18px; }

        .component-tabs-content, p.left{ font-family: 'Raleway'; }

        .component-tabs-content{
            width: 100%;
            font-size: 15px;
            overflow: hidden;
            transition: all .3s;

            @media #{$large-up}{
                max-height: 620px;
            }

            ul{
                display: flex;
                flex-direction: column;

                li{
                    padding: 5px;
                    margin-bottom: 5px;
                    display: inline-table;
                    background-color: #d9d9d9;
                }
            }
        }
    }
}

.component-tabs.aulas {
    label.label-tab {
        top: 10px;
    }
    .list-title {
        text-transform: lowercase;
    }
    p.left, p.right {
        font-weight: bold;
    }
    .component-tabs-content {
        font-weight: 600;
    }
}

.component-tabs.informacao {
    .tab-content {
        @include breakpoint(medium) {
            width: calc(100% - 270px);

            .list-title {
                width: calc(100% - 90px);
            }
        }

        label.label-tab {
            right: 110px;
        }
    }
}

.component-tabs.equipe {
    .tab-content {
        .component-tabs-content {
            margin-top: 30px;
            @include breakpoint(medium) {
                margin: 30px 0 30px 30px;
            }
        }
        .pessoa {
            .pessoa-mini .line{
                background-color: #522e91;
            }
            input[type="radio"]:checked + .pessoa-mini .name{
                color: #522e91;
            }
        }
        label.label-tab {
            right: 0 !important;
        }
    }
    .pessoa-info {
        background-color: #522e91;

        &.active .pessoa-thumb .img{
            box-shadow: 0 0 0 3px #fff, 0 0 0 7px #bfb1d6, 0 0 0 11px #7e63ad;
        }
    }
}

/* COMPONENT PARTNERS */
.content-partners {
    @media #{$small-only} {
        .row {
            display: block !important;
        }
        .tab-title {
            display: block !important;
            float: none;
            margin-bottom: 20px;
            width: 100%;
        }
    }
    img {
        float: left;
        max-width: 150px;
        margin: 0px 25px 25px 0px;
    }
}

.content-media {
    @media #{$small-only} {
        display: block;
        .row {
            display: block !important;
        }
        .tab-title {
            display: block;
            float: none;
            margin-bottom: 20px;
        }
    }

    .media-title {
        display: inline-block;
        margin: 15px 0 10px;
        h3 {
            font-size: 14px;
        }
        span {
            font-size: 11px;
            font-weight: bold;
            text-decoration: underline;
        }
        .line {
            height: 5px;
            margin-top: 5px;
        }
    }

    #media-player {
        height: 0;
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 56.25%; /* 16:9 */

        iframe {
            top: 0;
            left: 0;
            position: absolute;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .medias-thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint(medium) {
            width: 105%;
        }

        .thumb-wrapper {
            width: 45%;
            cursor: pointer;
            margin-bottom: 20px;

            @include breakpoint(large) {
                width: 30%;
            }
            .img-wrapper {
                position: relative;
                .color-hover {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.5;
                    position: absolute;
                    transition: opacity .3s ease;
                }
                img {
                    width: 100%;
                }
                .fa {
                    top: 50%;
                    left: 50%;
                    color: #fff;
                    font-size: 49px;
                    line-height: 42px;
                    margin-top: -21px;
                    position: absolute;
                    margin-left: -21px;
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

                    @media screen and (min-width: 415px) {
                        font-size: 70px;
                        line-height: 60px;
                        margin-top: -30px;
                        margin-left: -30px;
                    }
                }
                &.active .color-hover{
                    opacity: 0;
                }
            }
            .line {
                margin: 10px 0;
            }
            .media-title {
                margin-top: 0;
            }
        }
    }
}

.fazer-minha-inscricao{
    @include breakpoint(small only) {
        margin-bottom: 20px;
    }
    @include breakpoint(medium) {
        margin: 0 auto;
    }

    .column {
        position: relative;
    }

    h1 {
        font-family: 'Raleway';
        font-size: 28px;
        font-weight: normal;
        line-height: 1.33;
        font-weight: normal;
        font-family: 'Raleway';

        @include breakpoint(small only) {
            text-align: center;
        }
        @include breakpoint(large) {
            font-size: 36px;
        }
    }

    a, span {
        display: block;
        font-weight: bold;
        color: black !important;
        font-family: 'Roboto Mono';
    }

    a {
        text-decoration: none;
        font-size: 16px !important;
        @include breakpoint(small only) {
            top: 10px;
            left: 50%;
            margin-left: -133px;
            padding: 10px 30px;
            margin-left: -147px;
        }
        @include breakpoint(medium) {
            top: 10px;
            right: 0;
            left: 0;
            right: 0;
            top: 10px;
            font-size: 18px;
        }
        @include breakpoint(large) {
            font-size: 18px !important;
            top: 10px;
            left: 20px;
            right: 20px;
        }
        &:hover, &:focus {
            background-color: #fbaf17 !important;
        }
    }

    span {
        font-size: 14px;
        margin-top: 60px;
        text-align: center;

        @include breakpoint(medium) {
            margin-top: 55px;
        }
    }
}

.work-with-us {
    margin-bottom: 60px;
    overflow: hidden;
    text-align: center;

    a { position: relative; }
}

//COMPONENT MAPA
.component-tabs.map {
    @media #{$small-only}{
        display: none;
    }

    > .row {
        position: relative;
        padding-bottom: 25px;
    }
    .tab-content {
        width: calc(100% - 240px);
    }
}

.markers {
    width:20px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    transition: all .3s;

    &.selected {
        padding: 4px;
        border: 3px solid #4e0a03;
        background-color: #7d0c00;
    }
}
#map-editor {
    position: relative;
}

#mapa {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.map-info-carousel {
    overflow: hidden;
    overflow: inherit;
    position: relative;
    background-color: #9a258f;

    .previous { left: 30px !important; }
    .next { right: 30px !important; }

    &-item{
        opacity: 0;
        display: none;
        transition: opacity .3s;
        &.active{ opacity: 1; display: block; }
    }

    .seta-mapa {
        width: 0;
        height: 0;
        top: -15px;
        display: none;
        position: absolute;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent #9a258f transparent;
    }
    .carousel-cell {
        height: auto;
        width: auto;
    }
    .map-info-content {
        position: relative;
        .close {
            top: 20px;
        }
    }
    .map-thumb {
        float: left;
        margin-right: 35px;
        position: relative;

        .color-hover {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            position: absolute;
            background-color: #9a258f;
        }
        img {
            height: auto;
            max-width: 400px;
        }
    }
    .map-text {
        float: left;
        margin: 30px 0;
        max-width: 530px;
        h3 {
            margin-bottom: 5px;
        }
    }
    &.active {
        .seta-mapa {
            display: block;
        }
        .map-info-content .close {
            right: -70px;
            margin-top: 0;
            display: block;
        }
    }
}

.purple-text {
    line-height: 2;
    color: #9a258f;
    font-size: 20px;
    font-weight: 800;
    font-family: Raleway, sans-serif;
}

.component-social-medias {
    @media #{$small-only}{
        display: none;
    }
    ul {
        li {
            width: 40px;
            margin: 0 30px;
            font-size: 40px;
            line-height: 1.3;
            text-align: center;
        }
    }
}
