.curved-shadow {
    position: absolute;
    
    &:hover, &:active, &:focus {
        &:before,
        &:after {
            bottom: 15px;
            content: "";
            height: 50%;
            max-width: 300px;
            position: absolute;
            z-index: -1;
            width: 50%;
            -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7);
        }

        &:before {
            left: 0px;
            -webkit-transform: rotate(-6deg);
            -moz-transform: rotate(-6deg);
            -ms-transform: rotate(-6deg);
            -o-transform: rotate(-6deg);
            transform: rotate(-6deg);
        }

        &:after {
            right: 0px;
            -webkit-transform: rotate(6deg);
            -moz-transform: rotate(6deg);
            -ms-transform: rotate(6deg);
            -o-transform: rotate(6deg);
            transform: rotate(6deg);
        }
    }
    &:active {
        &:before,
        &:after {
            -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
            -moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
        }
    }
}


@media #{$small-only}{
    .single-header-drop-down {
        position: relative;
        padding: 13px 15px;
        margin: 0 auto;
        color: #fff;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        width: 100%;
    }

    .single-header-drop-down:after {
        background: url('../images/cover-arrow.svg');
        content: '';
        display: block;
        width: 20px;
        height: 11px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -3px;  
    }

    .single-header-drop-down .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        list-style: none;
        font-weight: normal;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .single-header-drop-down .dropdown ul {
        display: initial;
    }

    .single-header-drop-down .dropdown li {
        display: block;
    }

    .single-header-drop-down .dropdown li a {
        display: block;
        text-decoration: none;
        color: #9e9e9e;
        padding: 10px 20px;
    }

    .single-header-drop-down .dropdown li:hover a {
        background: #f3f8f8;
    }

    .single-header-drop-down.active .dropdown {
        opacity: 1;
        pointer-events: auto;
    }

    .single-header-drop-down.active:after {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}