@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900|Roboto+Mono');

html, body{
	margin-top: 0 !important;
	background-color: #ededed;
}

html, body, h1, h2, h3{
	font-family: 'Roboto Mono';
}

h1, h2, h3{
	margin: 0;
	font-weight: bold;
}

h2{
	font-weight: bold;
	color: black;
	font-size: 24px;
}

h3{ font-size: 19px; }

a{
	color: black;
	&:hover, &:active{
		color: black;
	}
}

.list-title{
	border-bottom: 10px solid black !important;
	display: table;
	font-weight: bold;
	margin-top: 30px;
	font-size: 25px;
	padding-right: 30px;
}

.center{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-big{
	background-color: black;
	font-weight: bold;
	padding: 5px 25px;
	font-size: 18px;
	color: white;

	&:hover{
		color: white;
		text-decoration: underline;
	}
}

.list-item{
	background-color: white !important;
	margin-top: 35px !important;
	position: relative !important;
	transition: box-shadow .3s !important;

	&:hover{
		box-shadow: 0 0 15px #8a8a8a !important;

		a, .box, h3, p { color: white !important; }
		hr { border-color: white !important; }
	}

	.info{
		padding: 25px !important;
		padding-bottom: 15px !important;
	}

	hr{
		position: relative !important;
		left: -25px !important;
		margin: 20px 0px !important;
		width: 100% !important;
	}

	.img{
		width: 100%;
		height: 220px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 10px 20px;
		display: flex;
		align-items: flex-end;
	}

	.categories{
		font-weight: bold !important;
		display: flex !important;
		align-items: center !important;
		margin-left: 10px !important;
		margin-bottom: 5px !important;

		a{ color: white !important; }
	}
}

.spread-items{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;

	& > ul li{
		display: block;
		width: 100%;
		text-align: center;
	}
	.fill-space{
		flex: 1
	}
}

.box{
	padding: 0px 8px;
	border: 1px solid white;
	margin: 5px;
	color: white;

	&.black{
		border: 1px solid black;
		color: black;
	}
}

.no-p{
	padding: 0;
}

.no-p-r{
	padding-right: 0;
}

.categories{
	&.black{
		ul li {
			border-color: black !important;
			a { color: black !important; }
		}
	}
	ul li{
		padding: 0px 8px !important;
		border: 1px solid white !important;
		margin: 5px !important;

		a{
			color: white !important;
			font-weight: bold !important;
		}

		&:last-child{
			margin-right: 0px !important;
		}
	}
}

.raleway{
	font-family: 'Raleway'
}

p, hr{
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
	word-wrap: break-word;
}

hr{
	border: 3px solid black !important;
}

.submenu{
	display: none;
}

.left{
	float: left;
}


@import '_menu';
@import '_archive';
@import '_single';
@import '_colors';
@import '_specials';
@import '_fixes';

