
// MAPA
.markers {
	position: absolute;
	width:40px;
	cursor: pointer;
	transition: all .3s;
	border-radius: 50%;

	&.selected {
		padding: 4px;
		border: 3px solid #4e0a03;
		background-color: #7d0c00;
	}
}

#map-editor{ position: relative; }

#mapa{
	border: 1px solid;
	display: block;
	width: 100%;
}

#marker-editor .button.lock{
	opacity: 0.5;
}

#markerInfoBox{
	width: 700px; 
	height: 500px;
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	opacity: 0.9;
	position: absolute;
	overflow: auto;
	
	* { margin-top: 5px; }

	.close{ color: black; }

	.box-info{
		border-radius: 3px;
		border: 1px solid lightgray;
		padding: 10px;
		overflow: hidden;
		font-family: 'Raleway';
	}
}