.column{
	float: left;
}

.large-12{
	width: 100%;
}
.large-6{
    width: calc(50% - 10px);
    margin-right: 10px;
}

// MAPA
.markers {
	position: absolute;
	width:20px;
	cursor: pointer;
	transition: all .3s;
	border-radius: 50%;

	&.selected {
		padding: 2px 10px;
		border: 3px solid #4e0a03;
		background-color: #cbd0ff;
	}
}

#map-editor{ position: relative; }

#mapa{
	border: 1px solid;
	display: block;
	width: 100%;
}

#marker-editor .button.lock{
	opacity: 0.5;
}

#markerInfoBox{
	width: 700px; 
	height: 500px;
	background-color: white;
	border: 1px solid black;
	padding: 30px;
	opacity: 0.95;
	box-shadow: 0px 0px 45px #bdbdbd;
	position: absolute;
	overflow: auto;
	z-index: 1000;
	margin-left: 50%;
	transform: translatex(-50%) translateY(-50%);
	top: 50%;

	h5{ font-size: 20px; }
	h6{ font-size: 16px; }
	h5, h6{ margin: 0 0 20px 0; }
	* { margin-top: 5px; }
	img{ width: 100%; }
	
	.close{ color: black; font-size: 20px; float: right; }

	.box-info{
		border-radius: 3px;
		border: 1px solid lightgray;
		padding: 10px;
		overflow: hidden;
	}
}