
.highlights
	background-color: black;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	position relative
	margin-top 30px

	.categories
		position absolute
		bottom 10px
		left 30px

		ul
			margin 0
			padding 0
			list-style-type none
			display flex

			li
				padding 0px 8px
				border 1px solid white
				margin 5px

				a
					color white

	img
		width: 100%;
		height: 100%;


	.img, .info
		background-color: #9a258f;
		width: calc(50% - 15px);

	.info
		padding: 25px 20px;

		hr
			border-width 5px
			border-color white

	h2
		font-weight: bold;
		color: white;


.submenu
	display:flex
	align-items center
	padding 30px
	height 100px
	width 100%
	position relative


	& > div
		border-right 1px solid white
		align-items center
		display flex
		padding 10px 20px

		&:first-child
			padding 0 20px 0 0
			width calc(100% - 800px)

		&:last-child
			border-right: none

		img
			margin 0 20px

	h1, &_filter, &_description
		font-size 23px
		font-weight bold

	&_filter, &_description
		font-size 20px

	h1, p
		margin 0
		padding 0

	.show-hide
		position absolute
		bottom 10px
		right 10px




