.header-single, .header-single-menu
	h1, p
		color white
		margin 0
		padding 0

.header-single
	height 300px
	padding 80px 30px 30px 135px
	background-color purple

	&-menu
		height 50px
		background-color black
		font-weight bold
		color black

.single-menu
	flex 1
	ul
		list-style-type none
		margin 0
		display flex
		justify-content space-arround
		li
			font-weight initial
			border-right 1px solid white
			display block
			padding 13px 40px
			float left

			&:last-child
				border-right none

	.btn-big
		position absolute


#post-number
	box-shadow inset 0px 4px 14px -6px black


.sidebar
	width 320px


.tab
	overflow hidden
	margin-bottom 50px
	display flex
	align-items baseline

	.tab-title
		width 200px
		margin-right 30px

	.tab-content
		width calc(100% - 200px)
