$color_base : #262626;
$color_cursos : #9a258f;
$color_varandas : #00958a;
$color_publicacoes : #f5821f;
$color_projetos : #522e91;
$color_institucionais : #522e91;

@mixin single-colors($color) {
	.lang li a{
		color: black !important;
		font-weight: 500;

		&.selected{
			color: $color !important; 	
			font-weight: bold;

			&:before {
				background-color: $color !important;
			}
		}
	}

	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid $color;
		font-weight: bold;

		&:before {
			@include breakpoint(large down) {
				background-color: $color;
			}
		}

		a { color: $color; }
	}

	.header-single-menu, .header-single:before, .content-media .color-hover {
		background-color: $color !important;
	}

	.fazer-minha-inscricao h1 {
		color: $color;
	}

	.area-pesquisa .slider {
		&.active .color {
			background-color: rgba($color,0.9);
		}
		&:active .color {
			// mobile
			@include breakpoint(large down) {
				background-color: rgba($color,0.9);
			}	
		}
		&:hover .color {
			// desktop
			@include breakpoint(large up) {
				background-color: rgba($color,0.9);
			}
		}
	}

	.area-pesquisa .slider .box.link:hover,
	.area-pesquisa .slider.active .box:not(.link),
	.area-pesquisa .slider:not(.no-hover):hover .box:not(.link) {
		color: $color;
	}
}

.single-cursos_ctp, .post-type-archive-cursos_ctp {
	@include single-colors($color_cursos);
}

.single-varandas_ctp, .post-type-archive-varandas_ctp {
	@include single-colors($color_varandas);
}

.single-publicacoes_ctp, .post-type-archive-publicacoes_ctp {
	@include single-colors($color_publicacoes);
}

.single-projetos_ctp, .post-type-archive-projetos_ctp, .page-template-page-producoes {
	@include single-colors($color_projetos);
}

.page, .single-comunicados_ctp, .post-type-archive-comunicados_ctp {
	.menu-container .menu-nav ul li.current-menu-item {
		border-bottom: 5px solid #000;
		font-weight: bold;

		&:before {
			@include breakpoint(large down) {
				background-color: #000;
			}
        }

		a { color: #000; }
	}
	.header-single:before {
		background-color: $color_cursos !important;
	}
	.header-single-menu, .content-media .color-hover {
		background-color: $color_institucionais !important;
	}
	
	.list-item {
		&:active {
			// mobile
			@include breakpoint(large down) {
				background-color: $color_base !important;
			}	
		}
		&:hover {
			// desktop
			@include breakpoint(large up) {
				background-color: $color_base !important;
			}
		}
	}
}

@mixin highlights-colors($color) {
	.color-hover {
		background-color: $color !important;
	}
	// mobile
	&:active {
		@include breakpoint(large down) {
			.color-hover, .info {
				background-color: $color !important;
			}
			.categories.black {
				ul li {
					&:hover {
						a {
							color: $color !important;
						}
					}
				}
			}
		}	
	}
	// desktop
	&:hover {
		@include breakpoint(large up) {
			.color-hover, .info {
				background-color: $color !important;
			}
			.categories.black {
				ul li {
					&:hover {
						a {
							color: $color !important;
						}
					}
				}
			}
		}
	}
	@include breakpoint(small only) {
		.color-hover, .info {
			background-color: $color !important;
		}
		.categories.black {
			ul li {
				&:hover {
					a {
						color: $color !important;
					}
				}
			}
		}
	}
}

.highlights {
	&:active {
		// mobile
		@include breakpoint(large down) {
			.info {
				background-color: $color_base;
			}
		}
	}
	&:hover {
		// desktop
		@include breakpoint(large up) {
			.info {
				background-color: $color_base;
			}
		}
	}
	&.type-cursos_ctp {
		@include highlights-colors($color_cursos);
	}
	&.type-varandas_ctp {
		@include highlights-colors($color_varandas);
	}
	&.type-projetos_ctp {
		background-image: url('../images/project-default-bg.jpg');
		background-position: center;
		@include highlights-colors($color_projetos);
	}
	&.type-publicacoes_ctp {
		background-image: url('../images/publications-default-bg.png');
		background-position: center;
		@include highlights-colors($color_publicacoes);
	}
}

@mixin cards-colors($color) {
	.img {
		.color-hover {
			background-color: $color;
		}
	}
	&:active {
		// mobile
		@include breakpoint(large down) {
			background-color: $color !important;
			.categories {
				ul li {
					&:hover {
						a {
							color: $color !important;
						}
					}
				}
			}
		}
	}
	&:hover {
		// desktop
		@include breakpoint(large up) {
			background-color: $color !important;
			.categories {
				ul li {
					&:hover {
						a {
							color: $color !important;
						}
					}
				}
			}
		}
	}
}
// hover nos cards de post

.list-item {
	&.cursos_ctp, &.type-cursos_ctp {
		@include cards-colors($color_cursos);
	}
	&.varandas_ctp, &.type-varandas_ctp {
		@include cards-colors($color_varandas);
	}
	&.projetos_ctp, &.type-projetos_ctp {
		@include cards-colors($color_projetos);
		.img {
			background-image: url('../images/project-default-bg.jpg');
			background-position: center;
			background-size: cover;
		}
	}
	&.publicacoes_ctp, &.type-publicacoes_ctp {
		@include cards-colors($color_publicacoes);
		.img {
			background-image: url('../images/publications-default-thumb.png');
			background-position: center;
			background-size: cover;
		}
	}
	&.comunicados_ctp, &.type-comunicados_ctp {
		@include cards-colors($color_base);
	}
}

@include breakpoint(small only) {
	.home, .archive {
		.highlights {
			.info {
				background-color: $color_base;
				a, h2, .box {
					color: #fff !important;
				}
				.box {
					border-color: #fff !important;
				}
			}
		}
	}
}